.footer {
  background-color: #fff;
  border-top: 3px solid #000;
  height: 37%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex-basis: calc(25% - 10px);
}

.footer-section h4 {
  color: #062e61;
  font-size: 15px;
  margin-bottom: 5px;
}

.footer-section p {
  color: black;
}

.footer-email {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-email p {
  color: black;
  font-size: 12px;
  max-width: 100%;
  word-break: break-word;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer-sections {
    flex-direction: column;
  }
  
  .footer-section {
    flex-basis: 100%; /* Take full width on smaller screens */
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px; /* Increase the margin to create more separation */
  }
}
